@value utilities: 'utilities/utilities.module.css';
@value shadow-lg from utilities;
.loginContainer {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loginModal {
   border-radius: 8px;
   box-shadow: shadow-lg;
   background-color: white;
   padding: 32px 32px 32px 32px;
   display: flex;
   flex-direction: column;
   max-width: 280px;
   flex-grow: 1;
}

.header {
   font-size: 18px;
}

.textField {
   outline: none;
   margin-top: 24px;
   border-radius: 4px;
   border: 0.2px solid rgb(207, 207, 207);
   padding: 10px 12px;
}

.textField::placeholder {
   color: rgb(168, 168, 168);
}

.forgotPassLink {
   font-size: 12px;
   text-align: right;
   margin-top: 6px;
   transition: color 100ms;
}

.forgotPassLink:active {
   color: blue;
}

.buttonContainer {
   display: flex;
   justify-content: center;
}

.buttonStyle {
   margin-top: 24px;
}

.singUpContainer {
   font-size: 12px;
   margin-top: 12px;
   padding: 0 8px 0 8px;
}

.signUpLink {
   transition: color 100ms;
}

.signUpLink:active {
   color: blue;
}