@value variables: 'utilities/variables.module.css';
@value indigoDark, shadow from variables;
.chatIconContainer {
   position: fixed;
   bottom: 24px;
   right: 24px;
   padding: 6px;
   border-radius: 100%;
   cursor: pointer;
   background-color: indigoDark;
   box-shadow: shadow;
   z-index: 10;
}

.chatIcon {
   height: 32px;
   width: 32px;
   color: white;
}

.chatContainer {
   position: fixed;
   bottom: 90px;
   right: 24px;
   height: 320px;
   width: 280px;
   border-radius: 18px;
   box-shadow: shadow;
   background-color: white;
   z-index: 10;
}

.message {
   padding: 8px;
}