@value variables: 'utilities/variables.module.css';
@value indigoDark, shadow from variables;
@value chatGray: rgb(239, 239, 239);
.chatIconContainer {
   position: fixed;
   bottom: 24px;
   right: 24px;
   padding: 6px;
   border-radius: 100%;
   cursor: pointer;
   background-color: indigoDark;
   box-shadow: shadow;
   z-index: 10;
}

.chatIcon {
   height: 32px;
   width: 32px;
   color: white;
}

.chatContainer {
   position: fixed;
   bottom: 90px;
   right: 24px;
   height: 320px;
   width: 280px;
   border-radius: 18px;
   box-shadow: shadow;
   background-color: white;
   z-index: 10;
   padding: 8px;
   display: flex;
   flex-direction: column;
}

.chatsSection {
   flex-grow: 1;
   overflow-y: auto;
}

.chatsSection::-webkit-scrollbar {
   display: none;
}

.messageContainer {
   padding: 8px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.name {
   margin-right: 8px;
   padding: 4px;
}

.message {
   font-size: 13px;
   padding: 4px 8px;
   background-color: chatGray;
   border-radius: 8px;
}

.messageContainerSelf {
   padding: 8px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-end;
}

.messageSelf {
   font-size: 13px;
   padding: 4px 8px;
   background-color: indigoDark;
   border-radius: 8px;
   color: white;
}

.messageInputSection {
   display: flex;
   justify-content: flex-end;
   padding: 8px;
}

.messageInput {
   outline: none;
   border: none;
   padding: 4px 8px;
   background-color: chatGray;
   border-radius: 8px
}