.menuContainer {
   margin-top: 16px;
   position: relative;
}

.labelsContainer {
   display: inline-flex;
   flex-wrap: wrap;
}

.label {
   padding: 6px 20px;
   cursor: default;
   border: 1px dashed cadetblue;
}

.subMenuContainer {
   opacity: 0.4;
   display: inline-flex;
   flex-direction: column;
   box-shadow: 6px 6px 12px gray;
   position: absolute;
   border-radius: 3px;
   z-index: 1;
}

.subLabel {
   padding: 8px;
}