@value variables: 'utilities/variables.module.css';
@value shadow from variables;
.alertContainer {
   position: fixed;
   bottom: 32px;
   left: 50%;
   transform: translateX(-50%);
}

.alertDialog {
   border-radius: 8px;
   box-shadow: shadow;
   background: white;
   max-width: calc(100vw - 32px);
   z-index: 12;
}