@value variables: 'utilities/variables.module.css';
@value shadow from variables;
.modalContainer {
   position: fixed;
   top: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 12;
}

.background {
   position: fixed;
   top: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.2);
   z-index: 11;
}

.contentContainer {
   border-radius: 8px;
   box-shadow: shadow;
   background: white;
   max-width: calc(100vw - 32px);
   max-height: calc(100vh-80px);
   overflow: auto;
}