@value variables: 'utilities/variables.module.css';
@value shadow from variables;
.link {
   text-decoration: none;
}

.sidebarItem {
   display: flex;
   align-items: center;
   padding: 8px 4px;
   border-radius: 6px;
   transition: box-shadow 600ms, transform 300ms;
}

.sidebarItem:hover {
   box-shadow: shadow;
}

.sidebarItem:active {
   transform: scale(0.9);
}

.icon {
   height: 26px;
   width: 26px;
   flex-shrink: 0;
   color: white;
}

.label {
   width: 132px;
   flex-shrink: 0;
   margin-left: 8px;
   color: white;
   font-size: 15px;
}