.cardContainer {
   padding: 32px;
}

.imageContainer {
   border: 1px solid red;
   display: inline-block;
   margin-top: 24px;
}

.image {
   border-radius: 8px;
   object-fit: cover;
   width: 300px;
   height: 400px;
   /* transition: transform 150ms; */
}

.image:hover {
   /* transform: scale(1.05); */
}